# Windows Build Configuration for AppVeyor
# http://www.appveyor.com/docs/appveyor-yml
#

# build version format
version: "{build}"

# Free accounts have a max of 1, but ask anyway.
max_jobs: 4

platform:
  - Win32
  - x64

configuration:
  - Debug
  - Release

image:
  - Visual Studio 2015
  - Visual Studio 2017
  - Visual Studio 2019

for:
  -
    matrix:
      only:
        - configuration: Debug
          platform: Win32
          image: Visual Studio 2015

    environment:
      PYTHON: C:\Python35
      QTDIR: C:\Qt\5.9.9\msvc2015
      PLATFORM_ARGUMENT: --32
      CONFIGURATION_ARGUMENT: --debug
    init:
      # For building vkconfig with qmake
      - call "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\vcvars32.bat"
      # Multithreaded NMake
      - set CL=/MP
    build_script:
      - echo Building platform=%PLATFORM% configuration=%CONFIGURATION%

      - echo Build Vulkan Configurator with Qt build system
      - cd ../vkconfig
      - qmake vkconfig.pro
      - nmake /NOLOGO /S # silent messages

  -
    matrix:
      only:
        - configuration: Release
          platform: x64
          image: Visual Studio 2017
    environment:
      PYTHON: C:\Python35
      QTDIR: C:\Qt\5.9.9\msvc2017_64
      PLATFORM_ARGUMENT: --64
      CONFIGURATION_ARGUMENT: --release
    init:
      # For building vkconfig with qmake
      - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
      # Multithreaded NMake
      - set CL=/MP

  -
    matrix:
      only:
        - configuration: Debug
          platform: x64
          image: Visual Studio 2019
    environment:
      PYTHON: C:\Python35
      QTDIR: C:\Qt\5.15.1\msvc2019_64
      PLATFORM_ARGUMENT: --64
      CONFIGURATION_ARGUMENT: --debug
    init:
      # For building vkconfig with qmake
      - call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvars64.bat"
      # Multithreaded NMake
      - set CL=/MP

matrix:
  exclude:
    - configuration: Release
      platform: Win32
      image: Visual Studio 2015
    - configuration: Release
      platform: x64
      image: Visual Studio 2015
    - configuration: Debug
      platform: x64
      image: Visual Studio 2015
    - configuration: Release
      platform: Win32
      image: Visual Studio 2017
    - configuration: Debug
      platform: Win32
      image: Visual Studio 2017
    - configuration: Debug
      platform: x64
      image: Visual Studio 2017
    - configuration: Release
      platform: Win32
      image: Visual Studio 2019
    - configuration: Debug
      platform: Win32
      image: Visual Studio 2019
    - configuration: Release
      platform: x64
      image: Visual Studio 2019

branches:
  only:
    - master

install:
  # Python
  - set PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%

  # Qt
  - echo Qt path %QTDIR%\bin
  - set PATH=%QTDIR%\bin;%PATH%

before_build:
  - echo %IMAGE%
  - cmake --version
  - python --version
  - qmake --version
  - git --version

  # Update external
  - echo Update external sources %PLATFORM_ARGUMENT% %CONFIGURATION_ARGUMENT%
  - update_external_sources.bat %PLATFORM_ARGUMENT% %CONFIGURATION_ARGUMENT%

  - echo Build VulkanTools deps %CONFIGURATION% %PLATFORM%
  - python scripts/update_deps.py --config %CONFIGURATION% --arch %PLATFORM%
  - mkdir build
  - cd build
  - cmake -A %PLATFORM% -C ../helper.cmake ..

build:
  parallel: true
  verbosity: quiet

build_script:
  - echo Building platform=%PLATFORM% configuration=%CONFIGURATION%

  - echo Build Vulkan Configurator, layers and VIA with cmake
  - cd ../build
  - cmake --build . --parallel --config %CONFIGURATION% -- /m /v:minimal

test_script:
  ctest -j 8 --output-on-failure -C %CONFIGURATION%
