# By default we install dependencies to the external directory
/external/*

# Ignore any build directories
*build*/

CMakeUserPresets.json
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
Testing/
cmake_install.cmake
Makefile
scripts/__pycache__
VKConfig.h
*.so
*.so.*
_out64
out32/*
out64/*
*.pyc
*.vcproj
*.sln
*.suo
*.vcxproj
*.sdf
*.filters
.*.swp
*.config
*.creator
*.creator.user
*.user
*.autosave
*.files
*.includes
.vscode/
.cache
