CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
Testing/
cmake_install.cmake
Makefile
scripts/__pycache__
VKConfig.h
*.so
*.so.*
_out64
out32/*
out64/*
*.pyc
*.vcproj
*.sln
*.suo
*.vcxproj
*.sdf
*.filters
.*.swp
build
build32
dbuild
rbuild
external
build-android/external
*.config
*.creator
*.creator.user
*.user
*.autosave
*.files
*.includes
.vscode/
helper.cmake
Vulkan-Headers/
Vulkan-Tools/
Vulkan-ValidationLayers/
build-vkconfig*/
